/* $line-background: linear-gradient(225deg, #e0ebf5, 10%, #f3f4f6); */

.disflex {
	display: flex;
	align-items: center;
}

.justify-sb {
	justify-content: space-between;
}

.justify-sa {
	justify-content: space-around;
}

.justify-e {
	justify-content: flex-end;
}
.justify-c {
	justify-content: center;
}
.justify-st {
	justify-content: flex-start;
}

.flexWrap {
	flex-wrap: wrap;
}


.ml-5 {
	margin-left: 5rpx;
}
.mlr-20{
	margin: 0 20rpx;
}

.pt-5 {
	padding-top: 5rpx;
}
.pl-10{
	padding-left: 10rpx;
}

.pt-30 {
	padding-top: 30rpx;
}

.pb-20{
	padding-bottom: 20rpx;
}

.p20-30{
	padding: 20rpx 30rpx;
}


.mt-10 {
	margin-top: 10rpx;
}

.mt-20 {
	margin-top: 20rpx;
}

.mt-40 {
	margin-top: 40rpx;
}

.ml-10 {
	margin-left: 10rpx;
}

.mr-6 {
	margin-right: 6rpx;
}

.mr-10 {
	margin-right: 10rpx;
}

.mr-15 {
	margin-right: 15rpx;
}

.mr-20 {
	margin-right: 20rpx;
}

.mr-25 {
	margin-right: 25rpx;
}

.mr-30 {
	margin-right: 30rpx;
}

.mr-40 {
	margin-right: 40rpx;
}

.mr-80 {
	margin-right: 80rpx;
}



.mb-10 {
	margin-bottom: 10rpx;
}


.mb-12 {
	margin-bottom: 12rpx;
}

.mb-15 {
	margin-bottom: 15rpx;
}

.mb-20 {
	margin-bottom: 20rpx;
}

.mb-24 {
	margin-bottom: 24rpx;
}

.mb-30 {
	margin-bottom: 30rpx;
}

.mb-40 {
	margin-bottom: 40rpx;
}

.mb-50 {
	margin-bottom: 50rpx;
}






.wh14 {
	width: 14rpx;
	height: 14rpx;
}

.wh24 {
	width: 24rpx;
	height: 24rpx;
}

.wh28 {
	width: 28rpx;
	height: 28rpx;
}

.wh30 {
	width: 30rpx;
	height: 30rpx;
}

.wh35 {
	width: 35rpx;
	height: 35rpx;
}

.wh38 {
	width: 38rpx;
	height: 38rpx;
}

.wh45 {
	width: 45rpx;
	height: 45rpx;
}

.wh52 {
	width: 52rpx;
	height: 52rpx;
}

.wh98 {
	width: 98rpx;
	height: 98rpx;
}


.w30 {
	width: 30%;
}

.w49 {
	width: 49%;
}

.w50 {
	width: 50%;
}


.w100 {
	width: 100%;
}



.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.p20 {
	padding: 20rpx;
}

.bgColorFFF {
	background-color: #fff;
}

.m0A{
	margin: 0 auto;
}


.pa{
	position: absolute;
}

.pr{
	position: relative;
}

.pf{
	position: fixed;
}
.color-blue{
	color: #307cff;
}

.bg-white{
	background-color: #fff;
}